.container{
    padding: 10px;
}
.Qr_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 5px;
}
.card_container{
    width: 45px;
}
.text_center{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.mobile_number{
    a{
        text-decoration: wavy;
        color: black;
   
    }
}